html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
 }
 
 body {
     font-family: 'Open Sans'; /* sets our font to the "Open Sans" typeface */
     color: white;             /* sets the text color to white */
     min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */
 }
 
 body.landing {
     background-color: rgb(58,23,63); /* sets the background color to an RGB value (see below) */
 }
.hero-content {
     position: relative; /* positioning will be explained in a resource */
     min-height: 600px;  /* hero content element must be _at least_ 600 pixels */
     background-image: url(../assets/images/bloc_jams_bg.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }
.navbar {
     padding: 0.5rem;
     background-color: rgb(101,18,95);
 }
 
 .navbar .logo {
     position: relative; /* positioning will be explained in a resource */
     left: 2rem;
 }
 .selling-points {
     position: relative; 
 }
 .point {
     position: relative;
     padding: 2rem;
     text-align: center;
     opacity: 1;
     -webkit-transform: scaleX(0.9) translateY(3rem);
     -moz-transform: scaleX(0.9) translateY(3rem);
     transform: scaleX(0.9) translateY(3rem);
 }
 
 .point .point-title {
     font-size: 1.25rem;
 }
 
 .ion-music-note,
 .ion-radio-waves,
 .ion-iphone {
     color: rgb(233,50,117);
     font-size: 5rem;
 }